.links{
    text-decoration: none;
    color: white;
    background: gray;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 8px;
    font-family: emoji;
    transition: 0.5s;
    display: none;
}.links:hover{
    color: black;
    background-color: white;
}
@media screen and (max-width:800px) {
    .links{
        display: block;
    }
    
}